.no {
  display: block;
  padding: 0.35rem 0.35rem;
  /* border: 2px solid #ccc; */
  font-weight: bolder;
  color: #464646;
  margin : 0 1.5rem;
  margin-bottom: -0.8rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  font-size: 1.1rem;  
  /* text-align: center; */
}

/* Claim.module.css */
/* .cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease-in-out;
} */

.cover {
  /* transform: translateY(-57%);
  /* transition: transform 0.3s ease-in-out; */
  background-color: rgba(255, 255, 255);
  -webkit-animation: slide-out-top 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  z-index: 10;
}

.open {
  transform: translateY(0%);
  /* transition: transform 0.3s ease-in-out; */
  background-color: rgba(255, 255, 255);
  -webkit-animation: slide-out-top2 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top2 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/* .claim {
  position: fixed;
  bottom: 12rem;
  left: 0;
  right: 0;
  background-color: white; 
  padding: 10px;  
  border: 1px solid #000; 
} 

 */

/* .claim {
  position: fixed;
  bottom: 12rem;
  left: 0;
  right: 0;
  background-color: white; 
  padding: 10px;  
  border: 1px solid #000; 
} 
 */


 @-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    /* opacity: 1; */
  }
  100% {
    -webkit-transform: translateY(-57%);
            transform: translateY(-57%);
    /* opacity: 0; */
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    /* opacity: 1; */
  }
  100% {
    -webkit-transform: translateY(-57%);
            transform: translateY(-57%);
    /* opacity: 0; */
  }
}


@-webkit-keyframes slide-out-top2 {
  0% {
    -webkit-transform: translateY(-57%);
            transform: translateY(-57%);
    /* opacity: 1; */
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    /* opacity: 0; */
  }
}
@keyframes slide-out-top2 {
  0% {
    -webkit-transform: translateY(-57%);
            transform: translateY(-57%);
    /* opacity: 1; */
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    /* opacity: 0; */
  }
}

