/* Table.module.css */

.tableWrapper {
    width: 100%;
    height: 10rem;
    overflow-y: scroll; /* This will add da scroll when needed */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0.5rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.table thead {
    position: sticky;
    top: 0px;
}


.table th,
.table td {
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
}

.table th {
    /* background-color: #ccc; */
    font-weight: bold;
    background-color: #4f005f;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: rgba(116, 17, 136, 0.1) !important;
}

.table th:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}
.table th:last-child {
    border-radius: 0px 10px 0px 0px;
}
.table tr:nth-child(even) {
    background-color: #eef1ff;
}

.button {
    display: block;
    background-color: #ccc;
    border: none;
    margin: 1rem auto;
    width: 20%;
    height: 2rem;
    font-weight: bolder;
}
