.layout {
  display: flex;  
  justify-content: center;
  /* padding : 1rem; */
}

.ordered {
  display: flex;  
  justify-content: flex-start;
  padding : 10px;
  
}

.between {
  display: flex;  
  justify-content: space-between;
  padding : 10px;
  
}

.end {
  display: flex;  
  justify-content: flex-end;  
  /* width: 10%; */
}

.line {
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  padding : 5px 0;
  border: none;
  border-bottom: 2px solid #bbb;
  
}

.box1 {    
  margin: 1rem;
  border-radius: 20px;
  border: 1px solid  rgba(66, 139, 202);
  background-color: rgba(66, 139, 202, 0.1);  
}


.box2 {    
  margin: 1rem;
  /* border-radius: 10px; */
  border: 1px solid #bbb;
  
}