.layout {
  display: flex;  
  justify-content: center;
  /* padding : 1rem; */
}

.ordered {
  display: flex;  
  justify-content: flex-start;
  padding : 10px;
  
}



.between {
  display: flex;  
  justify-content: space-between;
  padding : 10px;
  
}

.end {
  display: flex;  
  justify-content: flex-end;  
  /* width: 10%; */
}